mixin matchButton(matchup)
    - const [team1, team2] = matchup;
    a.btn.btn-primary(href=`/${tournamentId}/${team1}/${team2}`)= `${team1.charAt(0).toUpperCase() + team1.slice(1)} v ${team2.charAt(0).toUpperCase() + team2.slice(1)}`

mixin map_link(map)
    if map
        h3
            a(href=`http://ffhacktics.com/maps.php?id=${map.number}`)= `${map.number}) ${map.title}`

mixin tournament_nav(matchups, maps)
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand= "Mustadio"
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="/latest/red/blue")= "Latest Tournament"
            li.nav-item
                a.nav-link(href="/api/swagger")= "API Docs"
            li.nav-item
                a.nav-link(href="https://github.com/sirbranedamuj/mustadio")= "Github"
        button.btn.btn-outline-secondary(data-toggle="modal" data-target="#tournament-nav-modal")= "Go to Match"
        #tournament-nav-modal.modal.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h1= "Tournament Navigation"
                        button.close(data-dismiss="modal")
                            span!= "&times;"
                    .modal-body
                        h2= "Round 1"
                            each matchNum in [0, 1, 2, 3]
                                +map_link(maps[matchNum])
                                +matchButton(matchups[matchNum][0])
                        h2= "Round 2"
                            each matchNum in [4, 5]
                                +map_link(maps[matchNum])
                                each matchup in matchups[matchNum]
                                    +matchButton(matchup)
                        h2= "Round 3"
                            +map_link(maps[6])
                            each chunk in [0, 1, 2, 3]
                                .d-flex
                                    each matchupNum in [0, 1, 2, 3]
                                        - const index = chunk * 4 + matchupNum;
                                        +matchButton(matchups[6][index])
                        h2= "Champion Round"
                            +map_link(maps[7])
                            each matchup in matchups[7]
                                +matchButton(matchup)