include mixins/unit.pug
include mixins/tournament_nav.pug
  
mixin teamTable(side, team)
  .team
    h3= team.name + " team"
    table.table.table-bordered
      thead
        tr
          th= "Basic"
          th= "Stats"
          th= "Gear"
          th= "Abilities"
          th= "Main Skills"
          th= "Sub Skills"
      tbody
        each unit in team.Units
          if unit !== undefined
            +unit(side, unit)

html
  head
    title= "Mustadio"
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="/app.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js")
    script(src="/app.js")

  body
    +tournament_nav(matchups, maps)
    div.p-3
      h2= `${team1.name} vs ${team2.name}`
      a.btn.btn-primary(href=`/${tournamentId}`)= "Latest Match"
      if matchNumber !== -1
        +map_link(maps[matchNumber])
      .d-flex.flex-xl-row.flex-column
        +teamTable('left', team1)
        +teamTable('right', team2)
      //- .d-flex
      //-   +zodiacIcon('aries', 'right')
      //-   +zodiacIcon('libra', 'right')
      //-   +zodiacIcon('taurus', 'right')
      //-   +zodiacIcon('scorpio', 'right')
      //- .d-flex
      //-   +zodiacIcon('gemini', 'right')
      //-   +zodiacIcon('sagittarius', 'right')
      //-   +zodiacIcon('cancer', 'right')
      //-   +zodiacIcon('capricorn', 'right')
      //- .d-flex
      //-   +zodiacIcon('leo', 'right')
      //-   +zodiacIcon('aquarius', 'right')
      //-   +zodiacIcon('virgo', 'right')
      //-   +zodiacIcon('pisces', 'right')
      //- .d-flex
      //-   +zodiacIcon('serpentarius', 'left', 'right')